.ChoosenBook {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.BookDetails {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(49, 53, 59, 0.5);
    margin: 20px 20px 0;
    min-width: 300px;
}

.BookDetails-titles{
    padding: 10px 20px;
    padding-right: 50px;
}

.BookDetails-description {
    padding: 10px;

}