.Home, .ChoosenCollection, .Shelf, .ChoosenBook {
    position: relative;
    margin-top: 90px;
    margin-bottom: 80px;
    padding: 1px 15px 15px;
    background-color: rgba(40, 44, 52, 0.6);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 8px;
}

.App-main .MuiContainer-root  {
    position: relative;
    min-width: 280px;
    box-shadow: 0px 10px 50px black;
}
.App-main .MuiContainer-root .triangle {
    position: absolute;
    width: 50%;
    height: 30px;
    background-color: #282c34;
} 

.App-main .MuiContainer-root .triangle-top-left {
    top: -30px;
    left: 0px;
    /*background-image: linear-gradient(to right top, #282c34 0%, #282c34 50%, transparent 50%);*/
    clip-path: polygon(0px 0px, 0% 100%, 100% 100%);
}

.App-main .MuiContainer-root .triangle-top-right {
    top: -30px;
    right: 0px;
    /* background-image: linear-gradient(to left top, #282c34 0%, #282c34 50%, transparent 50%); */
    clip-path: polygon(100% 0px, 0% 100%, 100% 100%);

}

.App-main .MuiContainer-root .triangle-bottom-left {
    bottom: -30px;
    left: 0%;
    /* background-image: linear-gradient(to left bottom, #282c34 0%, #282c34 50%, transparent 50%); */
    clip-path: polygon(100% 0%, 0% 0%, 100% 100%);

}

.App-main .MuiContainer-root .triangle-bottom-right {
    bottom: -30px;
    right: 0%;
    /* background-image: linear-gradient(to right bottom, #282c34 0%, #282c34 50%, transparent 50%); */
    clip-path: polygon(0px 0px, 0% 100%, 100% 0%);

}
