.BookDetails {
    background-color: rgb(40, 44, 52);
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 400px;
    overflow: hidden;
    min-width: 100%;
}

.BookDetails-titles {
    position: relative;
    height: 100%;
    width: 50%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    padding-bottom: 10px;
}

.BookDetails-titles p {
    margin: 5px 0;
}

.Title-triangle {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 50px 400px 0;
    border-color: transparent rgb(40, 44, 52);
}

.Author {
    font-size: 22px;
    color: #61dafb;
}

.BookDetails-coverBox {
    position: relative;
    background-color: black;
    background-size: cover;
    width: 50%;
    flex: 1;
    overflow: hidden;
}
