.Book-box {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    background-color: white;
    margin: 10px;
    min-width: 280px;
    padding-right: 50px;
}
.Book-description {
    padding: 0 20px 0 0;
    text-align: left;
    margin-left: 25px;
}

.Book-title, .Book-author, .Book-text {
    color: rgb(5, 62, 78);
    margin: 0;
    font-weight: normal;
    font-size: 70%;
    line-height: 100%;
}

.text--strong {
    font-weight: bold;
}

.text--small {
    font-size: 70%;
    line-height: 100%;
}

.text--color {
    color: black;
    line-height: 100%;
}

.Book-cover {
    height: 150px;
}

table {
    border-spacing: 15px 15px;
}

td {
    vertical-align: bottom;
    height: 20px;
}

.Book-actions {
    width: 50px;
    position: absolute;
    right: 0;
    top: 0;
}

.Book-like {
    margin: 0;
    margin-top: 10px;
    border: none;
    /*width: 30px;*/
    height: 30px;
    background-color: transparent;
    outline: none;
}
