.Collection-box {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: stretch;
    background-color: #61dafb;
    margin: 10px;
    min-width: 280px;
    text-decoration: none;
    transition: .2s;
}

.Collection-number {
    background-color: black;
    color: #61dafb;
    width: 40px;
    min-width: 40px;
    font-size: 90%;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
}

.Collection-number span {
    line-height: 100%;
}

.Collection-box:hover  .Collection-number {
    background-color: #61dafb;
    color: black;
}

.Collection-box:hover {
    background-color: white;
}

.Collection-description {
    padding: 10px 25px 10px 20px;
    text-align: left;
}

.Collection-title,
.Collection-author,
.Collection-text {
    color: black;
    margin: 0;
    text-decoration: none;
}