.navbar {
    position: absolute;
    left: 0;
    top: 0;
    padding: 15px 0;
    width: 100%;
    min-width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.brand {
  height: 50px;
  width: 50px;
  margin: 0 20px;
  background-image: url("../images/1x/Ikona3.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.nav-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav-buttons > button  {
  margin: 0 10px;
}

.GoTo-button {
    height: 50px;
    width: max-content;
    background-color: transparent;
    color:white;
    border: solid 1px white;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin: 0 20px;
    text-decoration: none;
  }
  
  .GoTo-button p {
    margin: 0 10px;
  }
