.App {
  text-align: center;
  background-color: transparent;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: hidden;
  /* padding: 0px 20px; */
}

.App-bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-image: url('./images/books-1605416_1280.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.App-main {
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-title {
  color: #61dafb;
  margin-bottom: 10px;
}

.App-subtitle {
  color: #61dafb;
  margin-top: 0;
}

.btn-start {
  display: block;
  text-decoration: none;
  margin: 50px auto;
  height: max-content;
  width: max-content;
}

.nonactive {
  pointer-events: none;
  border: solid 1px transparent;
}

.GoTo-button:hover {
  background-color: black;
}

.App-btn {
  height: 50px;
  width: 50px;
  background-color: transparent;
  border: solid 5px #61dafb;
  color: #61dafb;
  font-size: 40px;
  line-height: 40px;
}

.App-btn:hover {
  background-color: #61dafb;
  color: #282c34;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}